{% extends 'render.html' %}

{% block title %}
{{ edition }}
{% endblock title %}

{% block toolbar %}

{% if authenticated %}

<div id="toolbar">
<a class="waves-effect waves-light btn teal"
   id="makeRevisionButton"
   href="/revise?e={{ edition.id }}">
  <i class="material-icons left">create</i>
  Make Revision
</a>
</div>

{% else %}

<div id="toolbar">
<div
  id="makeRevisionSpan"
  data-position="bottom"
  data-tooltip="Log in to revise editions">
  <a
    class="waves-effect waves-light btn disabled makeRevisionButton">
    <i class="material-icons left">create</i>
    Make Revision
  </a>
</div>
</div>

{% endif %}

{% endblock toolbar %}

{% block scripts %}
<script type="text/javascript">
  const toolkit = new CredoToolkit(
    '/mei/{{ edition.mei.id }}',
    null,
    null,
    'renderDiv'
  )
  toolkit.render()

  document.addEventListener('DOMContentLoaded', () => {
    const elements = document.querySelectorAll('#makeRevisionSpan')
    M.Tooltip.init(elements)
  })
</script>
{% endblock scripts %}
