{% load static %}

<link
  href="{% static 'favicon.ico' %}"
  rel="shortcut icon"/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"/>
<link
  href="{% static 'credo/materialize/materialize.css' %}"
  rel="stylesheet"/>
<link
  href="{% static 'credo/styles.css' %}"
  rel="stylesheet"/>
<script
  src="{% static 'credo/materialize/materialize.js' %}"
  type="text/javascript">
</script>
<script
  src="{% static 'credo/styles.js' %}"
  type="text/javascript">
</script>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>Credo</title>

<div class="main">
  <nav class="nav-extended">
    <div class="nav-wrapper blue-grey darken-3">
      <div class="left">
        <a href="/" class="brand-logo">
          <i class="material-icons logo-icon">audiotrack</i>
          Credo
        </a>
      </div>
      <a href="#" data-target="mobile" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/songs">Songs</a></li>
        {% if user.is_authenticated %}
          <li><a href="/logout">Log Out</a></li>
          <li><i class='material-icons'>account_box</i></li>
          <li class="username-display"><b>{{ user.username }}</b></li> 
        {% else %}
          <li><a href="/login">Log In</a></li>
          <li><a href="/signup">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="nav-content">
      {% include 'breadcrumb.html' %}
    </div>
  </nav>

  <ul class="sidenav" id="mobile">
    {% if user.is_authenticated %}
    <li>
      <span class="valign-wrapper">
        <i class="material-icons username-display">account_box</i>
        <b class="username-display">{{ user.username }}</b>
      </span>
    </li>
    <li></li>
    {% endif %}
    <li><a href="/songs">Songs</a></li>
    {% if user.is_authenticated %}
      <li><a href="/logout">Log Out</a></li>
      
       
    {% else %}
      <li><a href="/login">Log In</a></li>
      <li><a href="/signup">Sign Up</a></li>
    {% endif %}
  </ul>

  <div class="body">
    <div class="container">
