{% include 'header.html' %}
{% load static %}

<div class="center-align">
{% if user.is_authenticated %}
  <h1>Welcome to Credo, {{ user.username }}!</h1>
{% else %}
  <h1>Welcome to Credo!</h1>
{% endif %}

{% if messages %}
  {% for message in messages %}
    {% if message.extra_tags == 'logout' %}
     <script type=text/javascript> M.toast({html: '{{ message }}'}) </script>
    {% endif %}
  {% endfor %}
{% endif %}

    <img src="{% static 'logo.png' %}" class="splash-image responsive-img center-align">
</div>

<script type="text/javascript">
    document.title = "Credo - Home"
</script>


{% include 'footer.html' %}
