{% include 'header.html' %}
{% load static %}

<h2>{{ to_render }}</h2>

{% block toolbar %}{% endblock toolbar %}

<div id="renderDiv">
  <div class="preloader-wrapper big active centeredSpinner">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div id="comment-modal" class="modal">
  <div class="modal-content">
    <h4>Edit Comment</h4>
    <textarea id="comment-modal-text"></textarea>
  </div>
  <div class="modal-footer">
    <a id="comment-modal-submit" class="waves-effect btn-flat">Submit</a>
    <a class="modal-close waves-effect btn-flat">Cancel</a>
  </div>
</div>

{% include 'footer.html' %}

<script
  src="{% static 'credo/verovio/verovio-toolkit.js' %}"
  type="text/javascript">
</script>
<script
  src="{% static 'credo/credo-toolkit.js' %}"
  type="text/javascript">
</script>
<script type="text/javascript">
  const toolkit = new CredoToolkit(
    '/mei/{{ to_render.mei.id }}',
    {% if comments %}
      '/revisions/{{ to_render.id }}/comments',
    {% else %}
      null,
    {% endif %}
    'renderDiv'
  )
  toolkit.render()
</script>
