{% extends 'render.html' %}

{% block title %}
{{ revision }}
{% endblock title %}

{% block toolbar %}
{% if authenticated %}

<div id="toolbar">
  <span id="tools">
    <a class="waves-effect waves-light btn cyan darken-1," id="inspect">
      <i class="material-icons left">pan_tool</i>
      View
    </a>
    <a class="waves-effect waves-light btn-flat" id="comment">
      <i class="material-icons left">comment</i>
      Comment
    </a>
    <a class="waves-effect waves-light btn-flat" id="resolve">
      <i class="material-icons left">done</i>
      Resolve
    </a>
  </span>
  <span id="tools-right">
    <a class="waves-effect waves-light btn teal" id="downloadButton" href="/revisions/{{ revision_id }}/download">
      <i class="material-icons left">cloud_download</i>
      Download
    </a>
    <a class="waves-effect waves-light btn teal" id="saveButton">
      <i class="material-icons left">save</i>
      Save
    </a>
  </span>
</div>

{% endif %}

{% endblock toolbar %}

{% block scripts %}
<div class="modal" id="saving-modal">
</div>

<script type="text/javascript">
  $('#player').midiPlayer({
      width: 250,
      onUpdate: () => {},
      onStop: () => {},
      color: "red"
  });
  const toolkit = new CredoToolkit(
    '/mei/{{ revision.mei.id }}',
    '/revisions/{{ revision.id }}/comments',
    '/merge',
    'renderDiv',
    '{{ save_url }}'
  )
  toolkit.render()
</script>
{% endblock scripts %}
