{% include 'header.html' %}
{% load static %}

<script
  src="{% static 'credo/validate.js' %}"
  type="text/javascript">
</script>

<body>
  <div class="container">
    <div class="section"></div>
    <div class='row'>
      <div class="col s12 l8 push-l2 z-depth-1 lighten-4 row ">

        <div class='row'>
          <div class='col s12'></div>
        </div>

        <center>
        <i class='large material-icons'>account_box</i>
        </center>
        <h4 class="center-align">Sign Up</h4>

        <form class='col s12' method='post'>
          {% csrf_token %}
          <div class='row'>
            <div class='input-field col s12'>
              <i class='material-icons prefix'>account_box</i>
              <input name='username' type='text' id='username' required/>
              <label for='username'>Username</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <i class='material-icons prefix'>email</i>
              <input name='email' type='email' id='email' class="validate"/>
              <label for='email'>Email</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <i class='material-icons prefix'>lock</i>
              <input name='password' type='password' id='password' class="validate">
              <label for='password'>Password</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <i class='material-icons prefix'>lock</i>
              <input name='confirm-password' type='password' id='confirm-password'>
              <label id="label-confirm-password" for='confirm-password'>Confirm Password</label>
              <span class="helper-text" data-error="Password does not match" data-success="Password Match"></span>
            </div>
          </div>

          <div class='row'>
            <button class='col s12 btn waves-effect waves-light btn' type='submit' name='btn_login'>
                Register
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</body>

{% include 'footer.html' %}
