{% include 'header.html' %}

<body>
  <div class="container">
    <div class="section"></div>
    <div class='row'>
      <div class="col s12 l8 push-l2 z-depth-1 lighten-4 row ">

        <div class='row'>
          <div class='col s12'></div>
        </div>

        <center>
        <i class='large material-icons'>how_to_reg</i>
        </center>
        <h4 class="center-align">Sign Up</h4>

        <form class='col s12' method='post'>
          <div class='row'>
            <div class='input-field col s12'>
              <i class='material-icons prefix'>account_box</i>
              <input name='username' type='text' id='username'/>
              <label for='username'>Username</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <i class='material-icons prefix'>email</i>
              <input name='email' type='email' id='email'/>
              <label for='email'>Email</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <i class='material-icons prefix'>lock</i>
              <input name='password' type='password' id='password' class="validate"/>
              <label for='password'>Password</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <i class='material-icons prefix'>lock</i>
              <input name='confirm_password' type='password' id='confirm_password'/>
              <label id="label_confirm_password" for='confirm_password' data-error="Password does not match" data-success="Password Match">Confirm Password</label>
            </div>
          </div>

          <div class='row'>
            <button class='col s12 btn waves-effect waves-light btn' type='submit' name='btn_login'>
                Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

{% include 'footer.html' %}
