{% include 'header.html' %}

<h2>{{ song }}</h2>

<div class="row">
  <div id="toolbar">
    <a href="/songs/{{ song.id }}/compare" class="waves-effect waves-light btn right">
      Compare
    </a>
  </div>
</div>

<div class="collection with-header">
  <div class="collection-header"><h4>Editions</h4></div>

  {% for edition in editions %}
  <a
    href="/songs/{{ edition.song.id }}/editions/{{ edition.id }}"
    class="collection-item teal-text text-darken-1">
    {{ edition }}
  </a>
  {% endfor %}

</div>

<div class="collection with-header">
  <div class="collection-header"><h4>Revisions</h4></div>

  {% for revision in revisions %}
  <a
    href="/songs/{{ revision.song.id }}/revisions/{{ revision.id }}"
    class="collection-item teal-text text-darken-1">
    {{ revision }}
  </a>
  {% endfor %}

</div>

{% include 'footer.html' %}
