{% include 'header.html' %}
{% load static %}

<h2>{{ song }}</h2>

{% comment %} turns out () is invalid in if statements {% endcomment %}
{% if request.user.is_authenticated %}

<div class="row">
  <div id="toolbar" class="right">
    {% if request.user.is_staff %}
    <a href="/editions/new?song={{ song.id }}" class="waves-effect waves-light btn">
      <i class="material-icons left">add_box</i>
      Add New
    </a>
    {% endif %}
{% if editions or revisions %}
    <a href="/songs/{{ song.id }}/compare" class="waves-effect waves-light btn">
      Compare
    </a>
{% endif %}
  </div>
</div>
{% endif %}

{% if editions %}

<div class="collection with-header">
  <div class="collection-header"><h4>Editions</h4></div>

  {% for edition in editions %}
  <a
    href="/editions/{{ edition.id }}"
    class="collection-item teal-text text-darken-1">
    {{ edition }}
  </a>
  {% endfor %}
</div>

{% endif %}

{% if revisions %}

<div class="collection with-header">
  <div class="collection-header"><h4>Revisions</h4></div>

  {% for revision in revisions %}
  <a
    href="/revisions/{{ revision.id }}"
    class="collection-item teal-text text-darken-1">
    {{ revision }}
  </a>
  {% endfor %}

</div>

{% endif %}

{% if not revisions and not editions %}

<div class="no-content">No editions available for this song.</div>
<div class="image text-align">
<img src="{% static '5th.png' %}" class="responsive-img center-img">
</div>

{% endif %}

{% include 'footer.html' %}
