{% include 'header.html' %}

<h2>{{ song }}</h2>

{% if request.user.is_authenticated %}

<div class="row">
  <div id="toolbar" class="right">
    {% if request.user.is_staff %}
    <a href="/editions/new?song={{ song.id }}" class="waves-effect waves-light btn">
      <i class="material-icons left">add_box</i>
      Add New
    </a>
    {% endif %}
    <a href="/songs/{{ song.id }}/compare" class="waves-effect waves-light btn">
      Compare
    </a>
  </div>
</div>

{% endif %}

<div class="collection with-header">
  <div class="collection-header"><h4>Editions</h4></div>

  {% for edition in editions %}
  <a
    href="/songs/{{ edition.song.id }}/editions/{{ edition.id }}"
    class="collection-item teal-text text-darken-1">
    {{ edition }}
  </a>
  {% endfor %}

</div>

<div class="collection with-header">
  <div class="collection-header"><h4>Revisions</h4></div>

  {% for revision in revisions %}
  <a
    href="/songs/{{ revision.song.id }}/revisions/{{ revision.id }}"
    class="collection-item teal-text text-darken-1">
    {{ revision }}
  </a>
  {% endfor %}

</div>

{% include 'footer.html' %}
