.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body {
  flex-grow: 1;
}

.centeredSpinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#saveButton {
  float: right;
}

#makeRevisionButton {
  float: right;
}

#makeRevisionSpan {
  float: right;
}

.splash-image {
    text-align: center;
    width: 700px;
    margin: 50px auto;
}

.logo-icon {
    margin-left: 15px;
}

.breadcrumb-container {
  margin-left: 10px;
}

.breadcrumb-vspace {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
