.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body {
  flex-grow: 1;
}

.centeredSpinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#saveButton {
  float: right;
}

#makeRevisionButton {
  float: right;
}
