.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body {
  flex-grow: 1;
}

.centeredSpinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#saveButton {
  float: right;
}

#makeRevisionButton {
  float: right;
}

#makeRevisionSpan {
  float: right;
}

#renderDiv {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}
